.galeria {
  padding: 5rem 0;
}

.galeria_texto h2 {
  margin: 0;
}

@media (min-width: 1024px) {
  .galeria_grid {
    grid-template-rows: repeat(4, 1fr);
  }

  .galeria1 {
    grid-column: 2/4;
    grid-row: 2/4;
    max-height: 50%;
  }

  .galeria2 {
    grid-row: 2/4;
    max-height: 100%;
  }

  .galeria3 {
    grid-column: 2/4;
    grid-row: 3/4;
    max-height: 100%;
  }

  .galeria4 {
    grid-row: 2/4;
    max-height: 100%;
  }

  .galeria_extra1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .galeria_extra2 {
    grid-row: 1/2;
    grid-column: 3/5;
  }

  .galeria_extra3 {
    grid-row: 4/5;
    grid-column: 1/3;
  }

  .galeria_extra4 {
    grid-row: 4/5;
    grid-column: 3/5;
  }
}
