/** PÁGINA DE NOSOTROS **/
/*Visión, Misión y Valores*/
.mision_vision {
  background-color: var(--color-fondo-terciario);
  color: var(--color-blanco);
  text-align: center;
  padding: 3.5rem 2rem;
}

.mision_vision h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: var(--color-principal);
}

.mision_grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .mision_grid {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.mision_card {
  background-color: var(--color-fondo-principal);
  padding: 1.5rem;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .mision_card {
    width: 30%;
  }
}

.mision_card h3 {
  margin-bottom: 0.8rem;
  color: var(--color-principal);
  font-size: 3rem;
}

.mision_card p,
.mision_card ul {
  font-size: 2rem;
  color: var(--color-blanco);
}

.mision_card ul li {
  margin: 0.4rem 0;
}

/*Video*/
.nosotros_video {
  background-color: var(--color-fondo-extra);
  color: var(--color-blanco);
  text-align: center;
  padding: 6rem 1.5rem 1rem 1.5rem;
}

.nosotros_video h2 {
  font-size: 4rem;
  color: var(--color-principal);
  margin-bottom: 0.8rem;
}

.nosotros_video p {
  color: var(--color-blanco);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.video_contenedor {
  position: relative;
  width: 100%;
  height: 35rem;
  max-width: 100rem;
  overflow: hidden;
  border-radius: 1rem;
  margin: 5rem auto;
}
@media (min-width: 768px) {
  .video_contenedor {
    height: 50rem;
  }
}
@media (min-width: 1024px) {
  .video_contenedor {
    height: 60rem;
  }
}

.video_contenedor iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
}
